<%= javascript_include_tag "recurly","purchases", "jquery.readyselector" %>
<script src="http://malsup.github.com/jquery.form.js"></script>
<h2>Sign up</h2>
<div id="card_error" class="alert alert-error" style="display:none" ></div>
<%= form_for(@purchase, :url => purchases_path(:format => :js), :remote =>true, :html => {:class => 'card_form form-vertical', 'data-subdomain' => APP_CONFIG[:RECURLY_SUBDOMAIN], 'data-signature' => @signature, 'data-ip_address' => request.remote_ip}) do |f| %>
  <h3><%= params[:plan].titleize if params[:plan] %> Subscription Plan</h3>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> errors:</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag 'purchase[plan_id]', params[:plan] %>
  <%= hidden_field_tag 'shot_id' %>
  <%= hidden_field_tag 'stage_id' %>
  <%= f.hidden_field :customer_id %>
  <div class="field">
    <%= label_tag :first_name, "First Name" %>
    <%= f.text_field :first_name, :autofocus => true, :required => true %>
  </div>
  <div class="field">
    <%= label_tag :last_name, "Last Name" %>
    <%= f.text_field :last_name, :required => true %>
  </div>
  <%= label_tag :email, "Email" %>
  <%= f.text_field :email, :required => true %>
  <% if @purchase.card_token %>
    <p>Credit card acceptance is pending.</p>
  <% else %>
    <div class="field">
      <%= label_tag :country, "Country" %>
      <%= country_select(nil, "country", ["United States"]) %>
      <%#= select_tag 'country', country_options_for_select(selected = 'US', priority_countries = 'US') %>
    </div>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, :name=> nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Card Security Code (CVV)" %>
      <%= text_field_tag :card_code, nil, :name=> nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {:add_month_numbers=> true}, {:name=> nil, :id=> "card_month"}%>
      <%= select_year nil, {:start_year=> Date.today.year, :end_year=> Date.today.year+10}, {:name=> nil, :id=> "card_year"}%>
    </div>
    <div class="field">
      <%= label_tag :coupon, "Promotional Coupon (if any)" %>
      <%= text_field_tag :coupon, nil, :name=> nil %>
    </div>
  <% end %>
  <%= f.hidden_field :card_token %>
  <%= f.submit %>
<% end %>
