<style>
.odd {
  background-color: #dff0d8 !important;
}
.even {
  background-color: #f2dede !important;
}
</style>
<h1>Listing Sitemaps</h1>

<table width="100%">
  <tr>
    <th>Id</th>
    <th>Url</th>
    <th>Processed</th>
    <th>Actions</th>
  </tr>

<% @sitemaps.each do |sitemap| %>
  <tr class="<%= cycle("odd", "even") -%>">
    <td><%= sitemap.id %></td>
    <td><%= link_to sitemap.url, sitemap %></td>
    <td  align="center"><%= sitemap.has_finished %></td>
    <td  align="center">
      <div class="">
        <%= link_to 'Edit', edit_sitemap_path(sitemap) %> -
        <%= link_to 'Destroy', sitemap, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sitemap', new_sitemap_path %>
