<script src="/javascripts/tokeninput/jquery.tokeninput.js?body=1" type="text/javascript"></script>
<link rel="stylesheet" href="/stylesheets/tokeninput/token-input.css" />
<link rel="stylesheet" href="/stylesheets/tokeninput/token-input-facebook.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script>
  $(function () {
    $('#stage_tag_list').tokenInput('/tags/search.json', { crossDomain: false, tokenValue: "name", preventDuplicates: true, theme: "facebook", tokenDelimiter: ";", prePopulate: $('#stage_tag_list').data('load') });
  });
</script>
<%= form_for @stage, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
    <fieldset>
      <div id="legend" class="">
        <legend class="">Edit Stage</legend>
      </div>
      <div class="control-group">
        <%= f.label :name,{}, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name, :class => "input-xlarge", :required => 'required'%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :image_type_id, "Image Type", :class => "control-label" %>
        <div class="controls">
          <%= f.select(:image_type_id, ImageType.all.collect {|p| [ p.name, p.id ] }, {  })%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :stage_image, "Upload Image", :class => "control-label"  %>
        <div class="controls">
          <%= f.file_field :stage_image, :class => "input-file" %>
        </div>
        <div class="controls">
          <%= image_tag(@stage.stage_image.thumb.url) if @stage.stage_image.present? %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :bg_less, "Without BG", :class => "control-label"  %>
        <div class="controls">
          <%= f.file_field :bg_less, :class => "input-file" %>
        </div>
        <div class="controls">
          <%= image_tag(@stage.bg_less.thumb.url) if @stage.bg_less.present? %>
        </div>
      </div>
      <div class="control-group">
          <%= f.label :tags, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :tag_list, :data => {:autocomplete_source => search_tags_path, :load => @stage.tags} %>
          </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Submit", :class => "btn btn-success" %>
        </div>
      </div>
    </fieldset>
<% end %>
