<h1>Listing Stages</h1>
<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= link_to 'New stage', new_stage_path %>
<table class="table" id="stages">
  <tr>
  </tr>
<% @stages.each do |stage| %>
  <%= content_tag_for(:tr, stage) do %>
    <td><%= image_tag(stage.stage_image.thumb.url, :id => "drag_image") if stage.stage_image? %></td>
    <td><%= link_to 'Show', stage %></td>
    <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
    <td><%= link_to 'Destroy', stage, :confirm => 'Are you sure?', :method => :delete %></td>
    <% if stage.published? %>
      <td>Published</td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= stage.image_type.name if stage.image_type%></td>
  <% end %>
<% end %>
</table>
<script>
    $(function() {
        $("#stages tbody").sortable().disableSelection();
        $('#stages tbody').sortable({update: function() {
            $.post('stages/sort', '_method=post&authenticity_token='+AUTH_TOKEN+'&'+$(this).sortable('serialize'));
        }});
    });
    </script>
<br />


